:root {
  --primary-color: white;
  --second-color: #fa4a0c;
  --primary-font-size: 16px;
}
* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}
.cont-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 27px;
  margin-left: 40px;
}
.menu_home {
  color: var(--second-color);
}
.menu_box li {
  margin-right: 114px;
  list-style-type: none;
  display: inline;
}
.menu_box a {
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: center;
}

.btn-container {
  margin-top: 94px;
}
button {
  color: white;
  height: 68px;
  width: 236px;
  border-radius: 30px;
  padding: 16px 0px;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-1 {
  background-color: var(--second-color);
  border: none;
  margin-right: 35px;
}
.btn-2 {
  background: none;
  border: 1px solid white;
}

.restApp {
  background-image: url(./img/back1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 80px 0 178px;
}
p {
  text-align: center;
  margin-top: 56px;
  font-size: 44px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: black;
  opacity: 0.8;
}
.restApp h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
  text-align: center;
}
.restApp h1 {
  font-family: "Poppins", sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
  text-align: center;
}

.restApp h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 15px;
}

.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 113px;
  margin-bottom: 50px;
}
.mobile-img {
  margin-left: 175px;
  margin-right: 287px;
}
.mobi-info {
  margin-right: 168px;
}
.mobi-info > h3 {
  color: var(--second-color);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  margin-bottom: 17px;
}
.mobi-info > h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.mobi-info > h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.mobile2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 79px;
  margin-bottom: 50px;
}
.mobi-info2 > h3 {
  color: var(--second-color);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  margin-bottom: 17px;
}
.mobi-info2 > h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.mobi-info2 > h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.mobi-info2 {
  margin: 175px;
  margin-right: 287px;
}
.mobile-img2 {
  margin-right: 197px;
}
.order {
  background-image: url(./img/back2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 516px;
}
.order > h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: 146.9px;
  padding: 146.9px 0 20px 0;
}
.order > h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 121.1px;
}
.orderNow1 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 31px;
  width: 142px;
  height: 64px;
}
.orderNow2 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont-flex {
  display: flex;
  justify-content: space-between;
  height: 115px;
}
.logo-footer {
  margin-left: 114px;
}
.size {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #5c5c5c;
  margin-right: 116px;
  margin-bottom: 67px;
}
#menu_toggle {
  opacity: 0;
}
@media (max-width: 768px) {
  .logo_img {
    width: 50%;
  }
  .logo {
    display: inline-block;
    margin-top: -30px;
    margin-bottom: 14px;
  }
  .menu_btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu_btn > span,
  .menu_btn > span::before,
  .menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu_btn > span::before {
    content: "";
    top: -8px;
  }
  .menu_btn > span::after {
    content: "";
    top: 8px;
  }
  .menu_box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 50%;
    width: 50%;
    padding: 5px 0;
    list-style: none;
    text-align: center;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  .menu_item {
    display: block;
    padding: 10px 10px;
    font-size: 10px;
    font-weight: 100;
  }
  .menu_item:hover {
    background-color: #cfd8dc;
  }
  #menu_toggle:checked ~ .menu_btn > span {
    transform: rotate(45deg);
  }
  #menu_toggle:checked ~ .menu_btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu_toggle:checked ~ .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu_toggle:checked ~ .menu_box {
    visibility: visible;
    right: 0;
  }
  .restApp {
    display: flex;
    background: none;
    color: black;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: center;
  }
  .btn-container,
  .mobile,
  .mobile2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile,
  .mobile2 {
    width: 95%;
  }
  .btn-1 {
    margin: 0;
  }
  .btn-2 {
    margin-top: 20px;
    border: 1px solid var(--second-color);
    color: var(--second-color);
  }
  .mobi-info,
  .mobile-img,
  .mobi-info2,
  .mobile-img2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
  }
  .store {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .order {
    background: none;
    background-color: #252b42;
  }
  .order > h2 {
    margin: 0;
    padding: 0;
  }
  .orderNow1,
  .orderNow2 {
    margin: 0;
    width: 45%;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .logo-footer,
  .size {
    margin: 20px 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 1024px;
  }
  .cont-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 14px;
    margin-left: 15px;
  }
  .menu_box li {
    margin-right: 90px;
    list-style-type: none;
    display: inline;
  }
  .menu_box a {
    list-style-type: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
  }
  .restApp {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: center;
  }
  .mobile,
  .mobile2 {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
  }
}
